<p id="notice"><%= notice %></p>

<h1>User Description</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to "Back to Index User", users_path, :class => "btn btn-primary" %>